.header {
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px 30px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.headerDark {
  /* box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.11); */
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px 30px;
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.header h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.headerDark h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header svg {
  font-size: 15px;
}

.headerDark svg {
  font-size: 15px;
}

.head {
  margin-left: 70px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Cantarell" sans-serif;
}

.headerDark .head {
  margin-left: 70px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Cantarell" sans-serif;
  color: white;
}

.head1 {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

.head1 h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}
